.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  border-top: 1px solid var(--dark-cyan);
  padding-top: 1.5rem;
  margin-top: 1.5rem;

  .tag {
    border: none;
    font-size: small;
    font-weight: 800;
    color: var(--primary-cyan);
    padding: 4px 8px;
    border-radius: 4px;
    background-color: var(--light-cyan);
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .tags {
    margin: unset;
    padding: unset;
    align-items: center;
    justify-content: flex-end;
    border: none;
  }
}
