.header {
  background: var(--primary-cyan) url('./assets/bg-header-mobile.svg') no-repeat;
  height: var(--header-height);
}

@media (min-width: 375px) {
  .header {
    background: var(--primary-cyan) url('./assets/bg-header-desktop.svg')
      no-repeat;
  }
}
