:root {
  --max-width: 1440px;
  --min-width: 345px;
  --mobile-width: 375px;

  --white: #ffffff;
  --light-cyan-bg: #effafa;
  --light-cyan: #eef6f6;
  --primary-cyan: #5ba4a4;
  --dark-cyan: #7b8e8e;
  --very-dark-cyan: #2c3a3a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: auto;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
